body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}



.game-board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    align-self: center;
    
}


.cell {
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #f0f0f0;
    display: flex;
    
}


.botton-information {
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
    width: 100%;
    gap: 350px;
    

}

